#footer {
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

#footer a {
  color: lightgrey;
  font-size: 25px;
}

#footer ul {
    margin-left: 50%;
}

#footer a:hover {
  color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card {
    color:indianred;
    background-color:darkcyan;
}

h1 {
    color:blue
}